<footer>
    <h3>Quick Links</h3>
    <ul>
        <li><i class="fa-sharp fa-solid fa-school"></i><a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs/">Bellevue University's Web Development Degree</a></li>
        <li><i class="fa-sharp fa-solid fa-user"></i><a href="https://github.com/buwebdev/web-330">Web 330 Class Github Repository</a></li>
        <li><i class="fa-sharp fa-solid fa-globe"></i><a href="https://github.com/tiffanyreyes/web-330">My Github Web 330 Repository</a></li>
    </ul>
</footer>