<header>
    <a href="/"><img src="../images/logo.png" class="logo" alt="logo"></a>
</header>
<div class="nav-container">
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/resume">Resume</a>
        <a href="/projects">Projects</a>
        <a href="/database-diagrams">Database Diagrams</a>
        <a href="/api-unit-tests">API Unit Tests</a>
    </div>
</div>