<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap">
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div class="main-container">
            <h1 class="section-header">About Me</h1>
           
        </div>
        <hr>
    <%- include('./partials/footer.ejs') %>        
</body>
</html>        