<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap">
    <script src="https://kit.fontawesome.com/8014f6fafc.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div class="main-container">
            <h1 class="section-header">About Me</h1>
        </div>
        <hr>
        <br>
        <div class="content-box biography">
            <img src="../images/headshot.JPG" class="tiffy" alt="headshot">
            <div class="content-text">
                <h3 style="color: #334180;">Hello, my name is Tiffany!</h3>
                <p>I'm an aspiring web developer and designer in Central Florida. When I'm not working towards my degree, I enjoy my time exploring the best of Orlando and it's theme parks. I love animals so whenever I find myself at home I love spending time with my pet cat, Lani.</p>
            </div>
       </div>
       <br>
       <div class="content-box subheading">
        <div class="content-text">
            <p>I currently work for the Walt Disney Company so I am an avid Disney fan. I love their works in animation storytelling and the newest attractions they create. It has motivated me to be a creative in the sense that I like my work to be a reflection of me.</p>
        </div>
        <img src="../images/disney.JPG" class="disney" alt="headshot">
   </div>
   <br>
   <hr>
   <br>
    <%- include('./partials/footer.ejs') %>        
</body>
</html>        