<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap">
    <script src="https://kit.fontawesome.com/8014f6fafc.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="main-container">
        <h1 class="section-header">Database Diagrams</h1>
    </div>
    <div class="project-box">
        <div class="project-set">
            <div class="project">
                <h2 class="main-header">Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="project-set">
            <div class="project">
                <h2 class="main-header">Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="project-set">
            <div class="project">
                <h2 class="main-header">Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <%- include('./partials/footer.ejs') %>
</body>
</html>    