<header>
    <img src="" alt="logo">
</header>
<div class="nav-container">
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="#">Resume</a>
        <a href="#">Projects</a>
    </div>
</div>