<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap">
    <script src="https://kit.fontawesome.com/8014f6fafc.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div class="main-container">
            <h1 class="section-header">Hello, my name is Tiffany!</h1>
            <h2>Aspiring web developer and designer.</h2>
            <h3>Visit my projects and resume to view my work.</h3>
        </div>
        <hr>
        <br>
        <div class="main-container">
            <h1 class="section-header">Skills</h1>
            <h3 class="skill-section">
                <ul class="skill-set">
                    <li>HTML</li>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                </ul>
                <ul class="skill-set">
                    <li>CSS 5</li>
                    <li>Adobe Creative Cloud</li>
                    <li>Figma</li>
                </ul>
                <ul class="skill-set">
                    <li>JSON</li>
                    <li>XML</li>
                    <li>Python</li>
                </ul>
            </h3>
        </div>
        <hr>
        <br>
        <div class="main-container">
            <h1 class="section-header">Bucket List</h1>
            <ul>
                <li>Travel the world.</li>
                <li>Design/create something that will help people.</li>
                <li>Run a marathon.</li>
                <li>Finish all my favorite video games in hard mode.</li>
                <li>Create a moving wallpaper for my setup.</li>
                <li>Spend a holiday somewhere snowy.</li>
                <li>Be able to play my favorite songs on my violin.</li>
                <li>Design an application for one of my favorite companies.</li>
            </ul>
        </div>
        <hr>
        <br>

        <%- include('./partials/footer.ejs') %>
</body>

</html>