<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap">
    <script src="https://kit.fontawesome.com/8014f6fafc.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <div class="main-container">
            <h1 class="section-header">Resume</h1>
            <a href="../documents/Tiffany_Reyes_Resume.pdf" class="download-link" target="_blank">
            <button class="download-button">Download PDF</button></a>
        </div>
        <hr>
        <div class="main-container">
            <h1 class="section-header">Work Experience</h1>
            <h2 class="work-section">
                <div class="job">
                    <div class="job-header">
                        <h3 class="job-title">Ticketing Specialist</h3>
                        <h3 class="job-location">The Walt Disney Company</h3>
                    </div>
                    <div class="job-experience">
                        <ul class="experience-set">
                            <li>Assist guests and cast members by providing comprehensive information about park tickets and policies using numerous software applications.</li>
                            <li>Lead in providing unique solutions and recovery to ticket escalations or errors while maintaining positive relationships with clients.</li>
                            <li>Manage high volume inquiries in a timely manner to assist with information to help with cast member onboarding process in their respective departments.</li>
                        </ul>
                    </div>
                </div>
                <div class="job">
                    <div class="job-header">
                        <h3 class="job-title">Disney College Program</h3>
                        <h3 class="job-location">The Walt Disney Company</h3>
                    </div>
                    <div class="job-experience">
                        <ul class="experience-set">
                            <li>Facilitated event set-up and merchandise distribution of after-hour events for thousands of guests.</li>
                            <li>Utilized problem solving skills through guest recovery and special accommodations to ensure guests’ individual needs are met with proper brand voice and efficiency.</li>
                            <li>Aligned with business goals of staying up to date on new park information to better assist with guest inquiries or directions in a high volume location.</li>
                        </ul>
                    </div>
                </div>
               <div class="job">
                    <div class="job-header">
                        <h3 class="job-title">Rental Operations Representative</h3>
                        <h3 class="job-location">Wyndham Destinations</h3>
                    </div>
                    <div class="job-experience">
                        <ul class="experience-set">
                            <li>Coordinated clients’ demand and business needs of over 150 rental listings daily across all properties.</li>
                            <li>Organized a successful reintroduction of WorldMark rental properties through the presentation of benefits to stakeholders.</li>
                            <li>Cultivated a cross departmental knowledge share atmosphere that defined standard operating procedures and policies for existing team members and new hires.</li>
                        </ul>
                    </div>
               </div>
            </h2>
        </div>
        <br>
    <hr>
    <br>
    <%- include('./partials/footer.ejs') %>        
</body>
</html>       